
/* Styles pour le footer */
.main-footer {
    background-color: $secondary-color;
    padding: 20px;
    color: white;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    nav ul {
      list-style: none;
      display: flex;
      gap: 15px;
  
      li a {
        color: white;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }