#login {

  /* Conteneur principal */
  &.container-presentation-login {
    position: relative;
    height: 100vh; /* Occuper toute la hauteur de l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Pour empiler les éléments verticalement */
  }

  /* Conteneur de la vidéo */
  .container-bg-video-presentation {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 1rem;
  
    /* Style de la vidéo */
    .bg-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* La vidéo couvre tout le conteneur sans déformation */
      opacity: 0.5;
    }
    
    /* Texte de présentation */
    .presentation-text {
      position: relative;
      z-index: 1; /* Pour que le texte soit au-dessus de la vidéo */
      text-align: center;
      width: 80%;
      h1 {
        font-size: 2.5rem;
        color: white;
        margin-bottom: 10px;
      }
    
      p {
        font-size: 1.2rem;
        color: white;
      }
    }
    
    /* Conteneur des boutons */
    .action-buttons {
      position: relative; /* Positionner les boutons sous le texte */
      z-index: 1; /* Pour que les boutons soient au-dessus de la vidéo */
      display: flex;
      align-items: center;
      gap: 1rem;
    
       button{
         padding :15px ;
         background-color:#007bff ;
         color:white ;
         border:none ;
         border-radius :5px ;
    
         &:hover{
           background-color:#0056b3 ;
         }
    
         &:focus{
           outline:none ;
         }
    
         &:active{
           transform :scale(0.98) ;
         }
    
         transition :background-color .3s ,transform .2s ease-in-out ; 
       }
    
       .separateur{
         color:white ;
       }
    }
  }
  
  /* Styles pour la modal */
  @import 'modallogin';
}