.modal-overlay {
  position :fixed ;
  z-index: 1;
  top :0 ; 
  left :0 ; 
  width :100vw ; 
  height :100vh ; 
  background-color :rgba(0,0,0,0.7) ;

  display:flex ;
  justify-content:center ;
  align-items:center ;
  .modal-content{
    background-color:white ;
    padding :20px ;
    border-radius :8px ;
    max-width :400px ;
    width :90% ;
  
    h2{
      margin-bottom :.8rem;  
      text-align:center ;
    }
  
    input{
      width :100% ; 
      padding :10px ; 
      margin-bottom:.8rem;
      border-radius :5px ; 
      border :1px solid #ccc ;
  
      box-sizing:border-box ;
  
      &::placeholder{
        color:#999 ;  
        font-size:.9 rem ; 
      }
    }
  
    button{
      width :100% ;
      padding :10px ;
      background-color:#007bff ;
      color:white ;
      border:none ;
      border-radius :5px ;
  
      &:hover{
        background-color:#0056b3 ;
      }
  
      &:focus{
        outline:none ;
      }
  
      &:active{
        transform :scale(0.98) ;
      }
  
      transition :background-color .3s ,transform .2s ease-in-out ; 
    }
  
    .close-modal{
       margin-top :.8rem;  
       background-color:red ; 
       color:white;  
       padding:.5rem;  
       border:none;  
       cursor:pointer;  
    }
  }
}
