// Import du fichier helpers.scss
@import 'helper';

/* main.scss */

/* Styles pour le header */
.main-header {
  background-color: $primary-color;
  padding: 20px;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;

    li a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Styles pour le footer */
.main-footer {
  background-color: $secondary-color;
  padding: 20px;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;

    li a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
