// Import du fichier helpers.scss
@import 'helper';

/* main.scss */
// LOADER
.app-loading {
    visibility: hidden; /* Masque tout le contenu de l'application */
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #007bff;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
}
  
/* Animation de fondu pour le loader */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// SCSS template
@import 'header';
@import 'footer';

// SCSS PAR PAGE
@import 'accueil';
@import 'inscription';
@import 'login';
@import 'responsive';